@import url('css/fonts.css');

/* Get to know */

.gettoknow-container {
    height: 500px;
    width: 100%;
    background-image: url(../img/gettoknow.jpg);
}

.gettoknow > p {
    font-size: 90px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #FFF;

}

.gettoknow {
    margin: 0 auto;
    display: table;
    padding-top: 200px
}


/* about */

.about-container {
    height: 900px;
    width: 100%;
    background-color: #dcdcdc;
}

.about-qoute > p {
    font-size: 40px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: left;
}

.about {
    width: 1024px;
    display: table;
    margin: 0 auto
}

.about-qoute {
    margin: 0 auto;
    display: table;
    padding-top: 200px
}

.about-descript > p {
    font-size: 20px;
    color: #000;
    text-align: justify;
}

.about-descript {
    margin: 0 auto;
    display: table;
}

/* Video */

.video-container {
    width: 100%;
    height: 800px;
    background-color: #3a3a39;
}

.video {
    margin: 0 auto;
    display: table;
    padding-top: 150px;
}

.video > iframe {
    margin: 0 auto;
}

/* Contact */

.contact-container {
    padding-top: 250px;
    height: 800px;
    width: 100%;
    background-color: #dcdcdc;

}

.contact {
    margin-top: 0;
    height: 400px;
    width: 100%;
    background-color: #f44aba;
    display: block;
}

.contact-top {
    padding-top: 50px
}

.contact-top > p {
    font-size: 40px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;

}

.contact-bottom {
    margin-top: -120px
}

.contact-bottom > p {
    font-size: 290px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;

}

/* Footer */

.footer-container {
    height: 100px;
    color: #000;
    width: 100%
}

.copyright {
    padding-top: 45px;
    padding-left: 50px;
}

/* feature */

.feature-container {
    margin-top: 70px;
    height: 800px;
    width: 100%;
    background-color: #dcdcdc;
}

.title > p {
    font-size: 95px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;
}

.tagline > p {
    font-size: 50px;
    font-family: 'little_daysregular', cursive !important;
    color: #000;
    text-align: center;
    margin-top: -30px;

}

.feature {
    margin: 0 auto;
    padding-top: 250px;
    width: 560px;
}

/* social media */

.socialmedia-container {
    width: 100%;
    height: 300px;
    background-color: #3a3a39;

}

.socialmedia {
    display: table;
    margin: 0 auto;
}


.socialmedia ul li {
    display: inline-block;
    padding-right: 120px;
    padding-top: 70px ;
}

.socialmedia ul {
    padding-left: 0;
}

.socialmedia ul li:nth-child(3){
    padding-right:0px;
}​

.full-width {
    width: 100%;
    margin: 0 auto;
}

/* Navbar */

.navbar-fixed-top {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #000;


}

.nav-menu {
    display: table;
    margin: 0 auto;
    padding-top: 20px

}

.nav-menu ul {
      padding-left: 0;
}

.nav-menu > ul li a {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}

.nav-menu > ul li {
    display: inline-block;
    padding-right: 60px;
}


ul li:nth-child(5){
    padding-right:0px;
}​




