@import url('css/fonts.css');

img.sm-resize {
    width: 90px;
}

span.cursive {
        font-family: 'little_daysregular', cursive !important;
}

span.pink {
    color: #ec008c
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}


/* Get to know */


.gettoknow-container {
    height: 500px;
    width: 100%;
    background-image: url(../img/gettoknow.jpg);
}

.gettoknow > p {
    font-size: 30px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #FFF;

}

.gettoknow {
    margin: 0 auto;
    display: table;
    padding-top: 200px
}


/* about */

.about-container {
    height: 900px;
    width: 100%;
    background-color: #dcdcdc;
}

.about-qoute > p {
    font-size: 20px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: left;
}

.about {
    width: 300px;
    display: table;
    margin: 0 auto
}

.about-qoute {
    margin: 0 auto;
    display: table;
    padding-top: 200px
}

.about-descript > p {
    font-size: 15px;
    color: #000;
    text-align: justify;
}

.about-descript {
    margin: 0 auto;
    display: table;
}

/* Video */

.video-container {
    width: 100%;
    height: 800px;
    background-color: #3a3a39;
}

.video {
    margin: 0 auto;
    display: table;
    padding-top: 150px;
}

.video > iframe {
    margin: 0 auto;
    width: 300px;
}

/* Contact */

.contact-container {
    padding-top: 200px;
    height: 800px;
    width: 100%;
    background-color: #160e38;

}

.contact {
    margin-top: 0;
    height: 400px;
    width: 100%;
    background-color: #ec008c;
    display: block;
}

.contact-top {
    padding-top: 130px
}

.contact-top > p {
    font-size: 20px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;

}

.contact-bottom {
    margin-top: -60px
}

.contact-bottom > p {
    font-size: 140px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;

}

/* Footer */

.footer-container {
    height: 100px;
    color: #000;
    width: 100%
}

.copyright {
    padding-top: 45px;
    padding-left: 50px;
}

/* feature */

.feature-container {
    margin-top: 40px;
    height: 500px;
    width: 100%;
    background-color: #dcdcdc;
}

.title > p {
    font-size: 30px;
    font-family: 'bebas_neueregular', sans-serif;
    color: #000;
    text-align: center;
}

.tagline > p {
    font-size: 20px;
    font-family: 'little_daysregular', cursive !important;
    color: #000;
    text-align: center;
    margin-top: -30px;

}

.feature {
    margin: 0 auto;
    padding-top: 250px;
    width: 340px;
}

/* social media */

.socialmedia-container {
    width: 100%;
    height: 300px;
    background-color: #3a3a39;

}

.socialmedia {
    display: table;
    margin: 0 auto;

}


.socialmedia ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 80px ;
}

.socialmedia ul {
    padding-left: 0;
}

.socialmedia ul li:nth-child(3){
    padding-right:0px;
}​



.full-width {
    width: 100%;
    margin: 0 auto;
}

/* Navbar */

.navbar-fixed-top {
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: #000;
    position: relative;
}

.nav-menu > ul li {
    display: none;
    width: 180px;
    float: center;
    padding: 10px;
    background-color: #000;
}

.nav-menu:hover li{
    display: block;
}

.nav-menu:active li {
    display: block;
}

.nav-menu {
    display: table;
    margin: -40px auto 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    position: absolute;

}

.nav-menu ul {
      padding-left: 0;
      margin: 35px auto 0;
}

.nav-brand {
    margin: 0 auto;
    margin-top: 5px; 
    z-index: 0;
    position: relative;
    display: block;

}

.nav-brand > p {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}


.nav-menu > ul li a {
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}


ul li:nth-child(5){
    padding-right:0px;
}​




